<%- include('layout') -%>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">XenonStack Task - Web App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
    <div class="title">Login</div>
    <div class="content">
      <form action="/users/login" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Enter your username" name="username" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" placeholder="Enter your password" name="password" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Login">
        </div>
      </form>
    </div>
  </div>

  <%- include('footer') -%>



<!--block content
    h2.page-header Login
    form(method='post', action='/users/login')
         .form-group
          label Username
          input.form-control(name='username',type='text',placeholder='Enter your username')
         .form-group
          label Password
          input.form-control(name='password',type='password',placeholder='Enter your password')
         input.btn.btn-primary(type='submit',value='Login')-->